@font-face {
  font-family: arcade;
  src: url(arcade.TTF) format("truetype");
}

body {
  height: hidden;
  overflow: hidden;
  background-color: black;
}
.game-video {
  display: inline;
  transform: translate(17%, -177%);
  width: 17%;
}

#restart-button {
  font-family: arcade;
  transform: translate(-111%, -305%);
  border: 10px solid white;
  border-radius: 8px;
  color: white;
  font-size: 250%;
  padding-left: 7px;
  margin-right: 17px;
}

#start-button {
  font-family: arcade;
  transform: translate(187%, -1079%);
  border: 10px solid white;
  border-radius: 8px;
  color: white;
  font-size: 250%;
  padding-left: 7px;
}

#easy-button {
  font-family: arcade;
  transform: translate(-254%, -814%);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 100%;
}
#medium-button {
  font-family: arcade;
  transform: translate(-175%, -814%);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 100%;
}
#hard-button {
  font-family: arcade;
  transform: translate(-253%, -814%);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 100%;
}
#extreme-button {
  font-family: arcade;
  transform: translate(-149%, -814%);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 100%;
}

#endless-button {
  font-family: arcade;
  transform: translate(-148%, -814%);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 100%;
}

#restart-button:hover {
  border: 10px solid red;
  color: red;
}
#start-button:hover {
  border: 10px solid red;
  color: red;
}
#easy-button:hover {
  color: red;
  border: 2px solid red;
}
#medium-button:hover {
  color: red;
  border: 2px solid red;
}
#hard-button:hover {
  color: red;
  border: 2px solid red;
}
#extreme-button:hover {
  color: red;
  border: 2px solid red;
}

#endless-button:hover {
  color: red;
  border: 2px solid red;
}
